header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    position: fixed;
    top: 0;
    z-index: 99;
    width: 100vw;
    background-color: #191435;
    border-bottom: 1px solid #00FFE0;
}

:root {
    --primary-color: #120F21;
    --secondary-color: #00FFE0;
    --softer-primary: #191435;
}

nav {
    font-size: 1rem;
    justify-items: center;
}

ul {
    display: flex;
    list-style-type: none;
}

ul a {
    padding: 0.5rem;
    margin: 0.5rem;
}

li {
    padding: 0 2rem;
}

li:hover {

}

a {
    text-decoration: none;
}

nav a {
    color: white;
}

ul a:hover {
    color: #00FFE0;
    border-radius: 0.5rem;
    /* border: 1px solid #00FFE0; */
    filter: drop-shadow(0 0 0.75rem #00FFE0);
    /* box-shadow: 0px 0px 8px 0px rgba(0,255,224,0.75); */
    transition:  0.1s ease-out;
}

.socials a img {
    padding: 0 1rem;
}

.socials a img:hover {
    transform: scale(1.1);
    transition:  0.1s ease-out;
    filter: drop-shadow(0 0 0.75rem #00FFE0);
}
