header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    padding: 1.5rem;
    position: fixed;
    top: 0;
    z-index: 99;
    width: 100vw;
    background-color: #191435;
}

:root {
    --primary-color: #120F21;
    --secondary-color: #00FFE0;
}

nav {
    font-size: 16px;
    justify-items: center;
}

ul {
    display: flex;
    list-style-type: none;
}

li {
    padding: 0 3rem;
}

li:hover {
    text-decoration: underline;
    color: #00FFE0;
    filter: drop-shadow(0 0 0.75rem #00FFE0);
}

a {
    text-decoration: none;
}

nav a {
    color: white;
}

.socials a img {
    padding: 0 1rem;
}

.socials a img:hover {
    transform: scale(1.1);
    transition:  0.1s ease-out;
    filter: drop-shadow(0 0 0.75rem #00FFE0);
}
