:root {
    --primary-color: #120F21;
    --secondary-color: #00FFE0;
    --softer-primary: #191435;
}

.skills {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.skills-container {
    width: 50vw;
    padding: 4rem;
    background: var(--primary-color);
    background: linear-gradient(304deg, rgba(21,18,43,1) 0%, rgba(19,15,37,1) 100%);
    border-radius: 0.5rem;
    box-shadow: rgba(0, 255, 224, 0.4) -5px 5px, rgba(0, 255, 224, 0.3) -10px 10px, rgba(0, 255, 224, 0.2) -15px 15px, rgba(0, 255, 224, 0.1) -20px 20px, rgba(0, 255, 224, 0.05) -25px 25px;
}

h4 {
    color: var(--secondary-color);
}

.skills-grid {
    padding: 0.5rem;
    border-radius: 0.5rem;
    display: grid;
    text-align: center;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

@media screen and (max-width: 1600px){
    :root {
        --primary-color: #120F21;
        --secondary-color: #00FFE0;
        --softer-primary: #191435;
    }
    
    .skills {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    
    .skills-container {
        width: 40vw;
        padding: 2rem 4rem;
        background: var(--primary-color);
        background: linear-gradient(304deg, rgba(21,18,43,1) 0%, rgba(19,15,37,1) 100%);
        border-radius: 0.5rem;
        box-shadow: rgba(0, 255, 224, 0.4) -5px 5px, rgba(0, 255, 224, 0.3) -10px 10px, rgba(0, 255, 224, 0.2) -15px 15px, rgba(0, 255, 224, 0.1) -20px 20px, rgba(0, 255, 224, 0.05) -25px 25px;
    }
    
    h4 {
        color: var(--secondary-color);
    }
    
    .skills-grid {
        padding: 0.2rem;
        border-radius: 0.5rem;
        display: grid;
        text-align: center;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }
}